@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}
/* HEADER */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-right: 300px;
    margin-left: 300px;
}

.menu__links {
    display: flex;
}

.menu__links li {
    list-style-type: none;
    margin-left: 50px;
}

.menu__links li:nth-child(2) a,
.menu__links li:nth-child(5) a {
    white-space: nowrap;
}

.menu__links li a {
    text-decoration: none;
    font-size: 18px;
    color: #1F1534;
    opacity: 0.5;
    position: relative;
}

.menu__links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Move the line below the text */
    width: 0; /* Initially set width to 0 */
    height: 2px; /* Set line thickness */
    background-color: purple;
    transition: width 0.4s ease-out; /* Add a transition to the width property */
}

.menu__links li a:hover::after {
    width: 100%; /* Set width to 100% to expand the line from left to right */
}

.headervector {
    position: absolute;
    left: -40px;
    top: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 84px;
    gap: 200px;
}

.content {
    display: block;
    flex-direction: column;
    width: 400px;
}

.content h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
}

.content p {
    display: block;
    color: #7D7987;
    opacity: 0.6;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 45px;
}

.content a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    border-radius: 55px;    
    width: 200px;
    background-color: #458FF6;
}

.container img {
    width: 700px;
    object-fit: cover;
}

/* OUR SERVICES */

.services_container {
    margin-top: 120px;
}

.services_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_content h1, .healthcare-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}


.services_content span, .healthcare-content span, .feedback-container, .breakline {
    display: block;
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.feedback-container .breakline {
    margin: 0 auto;
    background: #FFF;
    margin-bottom: 80px;
}


.services_content p, .healthcare-content p {
    width: 952px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    opacity: 0.6;
}

.healthcare-content p {
    width: auto;
    text-align: left;   
    margin-bottom: 40px;
}


.services_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    margin-top: 80px;
    width: 70%;
    margin: 0 auto;
}

.services_container a, .healthcare-content a, .article-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #458FF6;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    border-radius: 55px;  
    border: 2px solid #458FF6;  
    margin: 0 auto;
    width: 200px;
}

/* .services_container {
    width: 450px;
} */
.services_container a:hover, .healthcare-content a:hover, .article-link:hover {
    background-color: #458FF6;
    color: white;
}

.services_container a {
    margin-bottom: 120px;
}

.healthcare-content a {
    display: inline-block;
    margin: 0 auto;
}

.first_card {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 17px); /* subtracting half the gap to make sure the cards fit in 3 columns */
    height: 354px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 20px;
    padding-left: 40px;
    z-index: 1;
    background-color: #fff;
    margin-bottom: 24px;
}

.first_card:last-child {
    margin-bottom: 70px;
}

.cards-bg {
    position: absolute;
    left: 0;
    z-index: -1;
    margin-left: 0;
    top: 1100px;
}

.first_card h1{
    margin-top: 20px;
    line-height: 56px;
    font-size: 24px;
}

.first_card img {
    margin-top: 54px;
    width: 90px;
}

.first_card p {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #7D7987;
    margin-right: 20px;
    overflow: hidden;
    min-width: auto;
}


/* two same sections with different content */

.two-columns {
    position: relative;
}

.healthcare {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    margin-right: 10%;
    margin-bottom: 130px;
    position: relative;
}

.healthcare-aps {
    margin-left: 20%;
    margin-top: 126px;
}

.healthcare-img {
    width: 700px;
    object-fit: cover;
}
.healthcare-content {
    width: 450px;
}

.between-same-columns {
    position: absolute;
    right: 15px;
    top: 50%;
    height: 94px;
}

/* feedback section */

.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1120px;
    height: 425px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    margin: 0 auto;
    border-radius: 24px;
    border: none;
    position: relative;
}

.feedback-container h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFF;
    margin-top: 64px;
    margin-bottom: 25px;
}

.feedback-container .right-vector {
    position: absolute;
    right: -50px;
    top: -10px;
}

.feedback-container .left-vector {
    position: absolute;
    left: -50px;
    bottom: 20px;
    z-index: -1;
    overflow: hidden;
}

.profile-pic {
    width: 140px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.feedback {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 77px;
}

.author {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    color: #fff;
    font-style: normal;
    font-weight: 700;

}

.author h6 {
    font-size: 24px;
}

.author h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.85);
    mix-blend-mode: normal;
}

.feedback p {
    width: 420px;
    text-align: left;
    margin-left: 110px;
    color: rgba(255, 255, 255, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.dots {
    display: flex;
    justify-content: space-between;
    width: 80px;
    position: absolute;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1F1534;
    position: relative;
    cursor: pointer;
    background-color: #5B9BF3;
    opacity: 0.3;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 280px;
}

.slide, .slide-out {
    animation-name: slide;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    animation-duration: 1.2s;
  }
  
  @keyframes slide {
    from {left: -10%} 
    to {left: 0}
  }
  
  .slide-out {
    animation-name: slide-out;
  }
  
  @keyframes slide-out {
    from {left: -10%} 
    to {left: 0%;}
  }
  

  .prev, .next {
    display: inline-block;
    color: #458FF6;
    opacity: 0.8;
    font-size: 32px;
    cursor: pointer;
  }
  .prev:hover {
    opacity: 0.5;
  }

  .next:hover {
    opacity: 0.5;
  }

  .dot.active{
    background-color: #5B9BF3;
    opacity: 1;

  }

  article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    gap: 20px;
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
  }
  
  .article-vector {
    position: absolute;
    left: 0px;
    top: -46px;
    z-index: -1;
  }
  .article-card {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 512px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 60px;
  }

  .article-card img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .article-image {
    position: absolute;
    right: 0;
  }

  .card-content {
    padding: 20px;
    text-align: left;
    width: 320px;
  }

  .article-h1 {
    font-size: 21px;
    line-height: 32px;
  }
  .article-p {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    opacity: 0.6;
    margin-bottom: 25px;
    margin-top: 12px;
  }

  .article-a {
    color: #4089ED;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
  }

  .article-a:hover {
    text-decoration: underline 2px solid;
    gap: 4px;
  }

  .article-icon {
    margin-left: 10px;
    font-size: 15px;
  }
  .forgotten-container {
    position: relative;
    margin-top: 200px;
  }
  .forgotten-container h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000;
    margin-bottom: 20px;
  }

  footer {
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding-left: 190px;
    padding-top: 120px;
    padding-bottom: 130px;
    margin-top: 200px;
  }

  .footer-vector {
    position: absolute;
    right: 90px;
    top: -65px;
    z-index: -1;
  }

  .footer-vector2 {
    position: absolute;
    left: 5px;
    bottom: 0px;
  }

  .about-project {
    width: 388px;
    position: absolute;
    left: 10%;
  }

  .about-project p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .columns {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 240px;
  }

  footer p, footer a {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-decoration: none;
    margin-bottom: 10px;
  }

  footer h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-bottom: 5px;
  }

i.burger {
    display: none;
    font-size: 32px;
    position: absolute;
    right: 40px;
    top: 72px;
    cursor: pointer;
}
.responsive-kazkoks {
    display: none;
}

@media (max-width: 1500px) {
    .about-project p {
        width: 280px;
        margin: 0;
    }
}

@media (max-width: 1320px) {
    .headervector {
        display: none;
    }
}

@media (max-width: 1140px) {
    .footer-vector2 {
        position: absolute;
        left: 200px;
        bottom: 0px;
      }
    footer h1 {
        font-size: 24px;
    }
    .columns {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 50px;
      }
    .about-project p {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    .about-project {
        margin-top: 20px;
        position: relative;
        left: 50px;
    }
    .footer-vector {
        display: none;
    }
    footer {
        margin-top: 10px;
        flex-direction: column;
        padding: 0; 
        /* footer {
            display: flex;
            justify-content: center;
            position: relative;
            background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
            padding-left: 190px;
            padding-top: 120px;
            padding-bottom: 130px;
            margin-top: 200px;
          } */
    }
    .article-link {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 90%;
    }
    .article-p {
        font-size: 18px;
        line-height: 34px;
        width: 420px;
    }
    .article-h1 {
        font-size: 32px;
        line-height: 42px;
        width: 430px;
      }
    .article-card {
        display: flex;
        flex-direction: column;
        width: 460px;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: 60px;
      }
    .article-image {
        position: absolute;
        right: 0;
        top: -120px;
        z-index: -1;
      }
    article {
        flex-direction: column;
    }
    .headervector {
        display: none;
    }
    .menu__links {
        margin-top: 10px;
        display: none;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        right: -250px;
        top: 40px;
        width: 100%;
        height: auto;
        background-color: #999;
    }
    .menu__links.is-active {
        display: flex;
    }  
    
    .menu__links li {
        list-style-type: none;
        color: #fff;
        text-align: center;
        line-height: 42px;
        font-size: 32px;
        margin-left: 0px;
    }
    .menu__links li a {
        color: white;
        opacity: 1;
        display: block;
        outline: 1px solid rgb(0, 0, 0, 0.1);
    }

    .menu__links li:hover {
        background: #191919;
        width: auto;
    }
    .menu__links li a::after {
        height: 0px; /* Set line thickness */
    }
    
    
    i.burger {
        display: block;
    }

    .navbar {
        position: relative;
        margin-left: 0;
    }

    .logotipas {
        display: flex;
        margin: 0 auto;
        object-fit: cover;
      }
    .container {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        gap: 10px;
    }
    .services_container {
        margin-top: 45px;
        gap: 50px;
    }
    .content {
        text-align: center;
    }

    .content a {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .container img {
        width: 400px;
        object-fit: cover;
        margin-top: 20px;
    }

    .headervector {
        display: none;
    }

    .first_card {
        width: calc(49.49% - 17px);
    }
    .healthcare-content h1 {
        text-align: center;
    }
    .healthcare-content p {
        text-align: center;
    }
    .services_content p {
        text-align: center;
        width: 450px;
    }
    .services_container a {
        text-align: center;
        width: 90%;
        margin: 0px auto;
    }

    .healthcare-content a {
        text-align: center;
        margin: 0 auto;
    }
    .healthcare-content span {
        display: none;
    }

    .healthcare {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .healthcare-aps {
        margin: 0 auto;
    }

    .healthcare a {
        width: auto;
        display: block
    }

    .columns-responsive, .healthcare-img {
        display: none;
    }

    .two-columns {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-bottom: 70px;
        margin-top: 50px;
        gap: 30px;
    }

    .feedback-container {
        width: 100%;
        height: 260px;
        border-radius: 0;
    }

    .feedback-container h1 {
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    .right-vector {
        display: none;
    }

    .profile-pic {
        width: 100px;
        border: 3px solid #fff;
    }

    .author h6 {
        font-size: 18px;
        line-height: normal;
    }
    .author h4 {
        font-size: 12px;
        line-height: normal;
    }

    .feedback p {
        font-size: 11px;
        line-height: normal;
        margin-left: 50px;
    }
    .feedback-container .breakline {
        margin-bottom: 0;
    }
}

@media (max-width: 800px) {
    .responsive-kazkoks {
        display: flex;
        width: 400px;
        object-fit: cover;
    }

    .services_cards {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .first_card {
        width: 70%;
        margin: 20px auto;
    }
    .menu__links {
        display: none;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        background-color: #999;
        z-index: 1;
        right: 0;
        width: 100%;
        border: none;
        height: auto;
    }
    
    .menu__links.is-active {
        display: flex;
    }

    .menu__links li {
        list-style-type: none;
        color: #fff;
        text-align: center;
        line-height: 42px;
        font-size: 32px;
        margin-left: 0px;
    }
    .menu__links li a {
        opacity: 1;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        outline: 1px solid rgb(0, 0, 0, 0.1);
    }

    .navbar {
        width: 100%;
        margin-left: 0;
    }
    i.burger {
        right: 100px;
    }
    .logotipas {
        margin-left: 20px;
    }
}